#ROS2 Workspace
ws/build/
ws/install/
ws/log/
ws/.colcon/

#CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

#VSCode
.vscode/
ws/.vscode

ws/src/fake_object_filter
ws/src/fake_object_tool
ws/src/fake_transform
ws/src/ft_panel

#Python
__pycache__/
*.pyc

#CPP
*.o
